Repository 2011Scape/game, pull requests merged in 2023-11, with the labels that each got.

#452 feat: king black dragon and multiway combat areas
  data/cfg/areas/multi.yml
  data/cfg/doors/double-doors.json
  game/plugins/src/main/kotlin/gg/rsmod/plugins/api/ProjectileType.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/api/ext/PawnExt.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/draynor/wizards_tower_basement.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/spawns/spawns_9033.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/wilderness/king_black_dragon_lair.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/cmd/addspawn.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/cmd/commands.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/Combat.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/PawnExt.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/combat.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/scripts/impl/KingBlackDragonCombatScript.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/holiday/scythe_drops.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/aggro/npc_aggro.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/multi/MultiAreaData.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/multi/MultiService.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/multi/multiway_combat.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/poison/Poison.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/npcs/definitions/dragons/king_black_dragon_level_276.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/objs/levers/levers.plugin.kts
  game/src/main/kotlin/gg/rsmod/game/model/combat/SlayerAssignment.kt
  game/src/main/kotlin/gg/rsmod/game/sync/task/PlayerPostSynchronizationTask.kt
Labels: content

#453 feat: added wilderness obelisks
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/wilderness/wilderness_obelisk.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/magic/TeleportType.kt
Labels: content

#454 feat: prayer update
  game/plugins/src/main/kotlin/gg/rsmod/plugins/api/PrayerIcon.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/api/cfg/Sfx.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/api/ext/PlayerExt.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/formula/MagicCombatFormula.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/formula/MeleeCombatFormula.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/formula/RangedCombatFormula.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/items/potion/PotionType.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/PrayerGroup.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/Prayers.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/prayer.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/prayers.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/objs/prayeraltar/prayer_altar.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/runetek5.plugin.kts
  game/src/main/kotlin/gg/rsmod/game/message/handler/IfButton1Handler.kt
  game/src/main/kotlin/gg/rsmod/game/model/entity/Player.kt
Labels: content

#455 Prayer Updates
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/portsarim/Ports.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/portsarim/charter.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/scripts/combat_script_binding.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/items/random_event_gift.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/PrayerGroup.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/Prayers.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/prayer.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/prayers.plugin.kts
  game/src/main/kotlin/gg/rsmod/game/model/entity/Player.kt
  game/src/main/kotlin/gg/rsmod/game/service/serializer/json/JsonPlayerSaveData.kt
  game/src/main/kotlin/gg/rsmod/game/service/serializer/json/JsonPlayerSerializer.kt
Labels: enhancement

#458 feat: slayer improvements
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/cmd/commands.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/inter/slayer/slayer_shop.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/Prayers.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/SlayerExt.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/data/SlayerMaster.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/slayer_equipment_shop.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/slayer_masters_dialogue.plugin.kts
  game/src/main/kotlin/gg/rsmod/game/model/attr/Attributes.kt
  game/src/main/kotlin/gg/rsmod/game/model/entity/Player.kt
Labels: enhancement

#459 feat: slayer rewards shop and drill demon random event adjustment
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/spawns/spawns_14415.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/spawns/spawns_14416.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/spawns/spawns_14671.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/spawns/spawns_14672.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/cmd/commands.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/inter/slayer/slayer_rewards.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/Prayers.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/randoms/random_event_handler.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/fishing/fishing.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/SlayerExt.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/data/SlayerMaster.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/slayer_equipment_shop.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/slayer_masters_dialogue.plugin.kts
  game/src/main/kotlin/gg/rsmod/game/model/attr/Attributes.kt
  game/src/main/kotlin/gg/rsmod/game/model/entity/Player.kt
Labels: content

#460 bug: fixed bug loading players blocked slayer tasks
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/inter/slayer/slayer_rewards.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/slayer/slayer_masters_dialogue.plugin.kts
  game/src/main/kotlin/gg/rsmod/game/model/attr/Attributes.kt
Labels: bug

#461 feat: prayer improvements
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/Prayers.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/prayer/prayers.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/runetek5.plugin.kts
  game/src/main/kotlin/gg/rsmod/game/model/entity/Player.kt
Labels: enhancement
