Repository 2011Scape/game, pull requests merged in 2024-01, with the labels that each got.

#482 chore: clean up magic guild content
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/yanille/magic_guild.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/yanille/magic_guild/magic_store_owner.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/yanille/magic_guild/professor_imblewyn.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/yanille/magic_guild/robe_store_owner.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/yanille/magic_guild/wizard_frumscone.plugin.kts
Labels: bug

#485 feat: add ability to make crossbows
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/falador/gadrin.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/yanille/magic_guild.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/combat/strategy/MagicCombatStrategy.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/items/combine/CombinationData.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/cooking/CookingAction.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/cooking/CookingData.kt
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/cooking/raw_food_cooking.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/skills/crafting/spinning/SpinningAction.kt
  game/src/main/kotlin/gg/rsmod/game/service/GameService.kt
  game/src/main/kotlin/gg/rsmod/game/task/parallel/ParallelSynchronizationTask.kt
Labels: content

#481 Adding black unicorn
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/npcs/definitions/animals/black_unicorn_level_27.plugin.kts
Labels: content

#497 Heroes' Guild update and bug fixes
  data/cfg/doors/double-doors.json
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/spawns/spawns_10289.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/spawns/spawns_11057.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/taverley/helemos.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/taverley/heroes_guild.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/areas/yanille/magic_guild.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/cmd/commands.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/mechanics/ladders/ladders.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/npcs/definitions/demons/bloodveld_level_76.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/npcs/definitions/other/living_rock_protector.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/npcs/definitions/other/minotaur/minotaur_lvl_12.plugin.kts
  game/plugins/src/main/kotlin/gg/rsmod/plugins/content/npcs/definitions/other/minotaur/minotaur_lvl_27.plugin.kts
Labels: bug, enhancement
